/*  FEATURED CONTAINER */
.featured-container {
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* FEATURED INFO */

.featured-info {
  width: 55%;
  padding-right: 4rem;
}

.featured-info p {
  font-size: 25px;
}

.featured-info h3 {
  margin-bottom: 20px;
  font-weight: 100px;
}

.featured-info h1 {
  font-size: 65px;
  font-weight: 900;
  margin-top: -10px;
  margin-bottom: 0.5rem;
}

.featured-info h4 {
  font-size: 25px;
  font-weight: 100;
}

.featured-info .promotion-price-block h4 {
  color: red;
  font-size: 70px;
  font-weight: 900;
  margin-top: -9px;
}

.featured-info button {
  margin-top: 0.9rem;
}

.featured-info hr {
  margin-top: 0.5rem;
  color: var(--border-color);
}

.promotion-price-block {
  padding-top: 0.5rem;
}

.promotion-price-block p {
  color: red;
  font-size: 25px;
}

.original-price-block {
  padding-top: 0.5rem;
}

.original-price-block h4 {
  font-size: 25px;
  font-weight: 500;
}

.featured-info img {
  width: 24px;
}

.featured-info button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* FEATURED IMAGE */

.featured-image {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.featured-image img {
  width: 0%;
}

.featured-image-content {
  position: relative;
  width: 70%;
  height: auto;

  flex-direction: column;
}

.featured-image-content img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  image-rendering: pixelated;
}

.featured-image-content p {
  position: absolute;
  top: 0px;
  left: -40px;

  font-size: 90px;
  font-weight: 900;

  color: red;
  right: -50px;

  /*  animation */
  animation: shake-logo-featured 0.8s ease 2s infinite normal forwards;
}

@keyframes shake-logo-featured {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

/* header h1 {
    font-size: 80px;
    font-weight: 900;
    margin-top: -10px;
    color: white;
  }
  
  header h3 {
    margin-bottom: 20px;
    font-weight: 100px;
    color: white;
  } */
