/*  IMPORT FONT */

@font-face {
  font-family: "TahomaXP";
  src: url("/assets/fonts/windows-xp-tahoma.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "TahomaXP", "sans-serif";
  -webkit-font-smoothing: none;

  margin: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

body {
  /* background-color: var(--bkg-color); */

  background-image: url("/assets/img/wallpaper/xp-wallpaper.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: auto 100vw;
  min-height: 100vh;
}

/* PARAMS */
:root {
  --hover_color_img: #f7f7f7;
  --links_color: rgb(47, 47, 47);
  --links_hover_color: rgb(87, 87, 87);
  --bkg-color: #fffaf4;
  --border-color: rgb(171, 171, 171);
  --border-card-color: #041387;

  /* GRADIENTS */
  --card-gradient: linear-gradient(
    0deg,
    rgba(1, 67, 135, 1) 0%,
    rgba(50, 111, 252, 1) 15%,
    rgba(34, 84, 221, 1) 47%,
    rgba(34, 84, 221, 1) 83%,
    rgba(98, 145, 252, 1) 94%
  );

  --card-bottom-gradient: linear-gradient(
    0deg,
    rgba(199, 197, 183, 1) 0%,
    rgba(235, 233, 218, 1) 12%,
    rgba(235, 233, 218, 1) 88%,
    rgba(133, 131, 123, 1) 100%
  );
}

/* LINKS */
a {
  color: var(--links_color);
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: var(--links_hover_color);
}

/*  GENERAL IMG RULES */

.image-border {
  display: inline-block;
  padding: 26px;
  border: 1px solid rgb(216, 216, 216);
}

img {
  width: 32px;
}
.image-hover:hover {
  background-color: var(--hover_color_img);
}

/* NAVBAR */

.navbar-navlink-component {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.navbar-container {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navlink-component-image-plus {
  width: 13px;
}

.navbar-website-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#navbar-logo {
  width: 78px;
  display: inline-block;
  padding-right: 1.5rem;
  cursor: pointer;
}

.navbar-order-section {
  gap: 0.5rem;
}

.navbar-order-section,
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-order-section form input {
  height: 18px;
}

#search-icon {
  width: 13px;
}

.btn {
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 1px #bababa;
  padding: 4px 10px;
  image-rendering: pixelated;
  display: block;

  /* font */
  font-size: 20px;
  font-weight: 200;
}

.btn:hover {
  background-color: var(--hover_color_img);
  cursor: pointer;
}

#btn-search {
  padding: 3px 4px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

#navbar-cart {
  width: 15px;
}

#btn-cart {
  padding: 3px 4px;
}

/* MAIN */

main {
  padding-top: 2rem;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 2px 2px 2px rgb(41, 41, 41);
}

header h1 {
  font-size: 80px;
  font-weight: 900;
  margin-top: -10px;
  color: white;
}

header h3 {
  margin-bottom: 20px;
  font-weight: 100px;
  color: white;
}

header h1 span {
  font-style: italic;
  font-weight: 100;
  font-size: 30px;
  color: white;
}

#header-logo {
  width: 400px;
  padding-bottom: 2rem;
  image-rendering: pixelated;
}

#header-explore {
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: white;
}

#header-explore p {
  font-size: 20px;
}

#header-explore img {
  width: 26px;
  padding-right: 0.5rem;
  image-rendering: pixelated;
}

/*  CARD CSS */

.website-card {
  border: 2px solid var(--border-card-color);

  border-top-left-radius: 9.5px;
  border-top-right-radius: 9.5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  margin-bottom: 2rem;
}

.website-card-top {
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0.4rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  /* COLOR */
  background: var(--card-gradient);
}

.card-name {
  gap: 0.5rem;
  align-items: end;
}

.card-name h4 {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.card-name img {
  width: 23px;
}

/* CARD CONTENT */

.website-card-content {
  padding: 0.7rem 0.7rem;
  background-color: white;
  font-size: 20px;
}

/* CARD BOTTOM */
.website-card-bottom {
  background: var(--card-bottom-gradient);

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  justify-content: space-between;
  padding: 0.5rem 0.4rem;
}

.website-card-bottom img {
  width: 16px;
}

.website-card-bottom p {
  font-size: 20px;
}

/* RESPONSIVE SMALLER SCREEN */
@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
}
